#ZOHO{
    color: blueviolet;
}
.contanier{
    display: flex;
    padding: 5px 50px 10px 5px;
    margin: 30px;
    justify-content:space-between;
    align-items: center;

}

.form{
    display: flex;
    padding: 5px 50px 10px 5px;
    margin: 30px;
    justify-content:space-between;
    align-items: center;
}
#button{
    background-color: blue;
    color:white;
    text-align: center;
    font-size: medium;

    padding: 3% 8%;
}
#button2{
    background-color: white;
    color:black;
    text-align: center;
    font-size: medium;
    padding: 3% 8%;
}
